Workingaloneassessmentplan/Solution/Workflows/ForceSyncuser-81A01A3F-F62C-EC11-B6E5-0022486D9B7D.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365groups":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365groups"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_group_member_is_added_or_removed":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body']","type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups","operationId":"OnGroupMembershipChange","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"ab0f071d-310f-4ea4-9451-86bcc4a88ea1"},"authentication":"@parameters('$authentication')"}}},"actions":{"Force_Sync_user":{"runAfter":{"PPEnvironment__-__if_no_Current,_set_to_null":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"Add-AdminPowerAppsSyncUser","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@variables('PPEnvironment')","body/ObjectId":"@triggerOutputs()?['body/id']","api-version":"2019-05-01"},"authentication":"@parameters('$authentication')"}},"Initialize_PPEnvironment":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"PPEnvironment","type":"string","value":"@{null}"}]}},"ListDefns-AppUrlEnvironmentVariable":{"runAfter":{"Initialize_PPEnvironment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq 'tc_PowerPlatformEnvironment'"},"authentication":"@parameters('$authentication')"}},"GetDefnId-AppUrlEnvironmentVariable":{"runAfter":{"ListDefns-AppUrlEnvironmentVariable":["Succeeded"]},"type":"Compose","inputs":"@first(body('ListDefns-AppUrlEnvironmentVariable')?['value'])?['environmentvariabledefinitionid']"},"ListCurrents-AppUrlEnvironmentVariable":{"runAfter":{"GetDefnId-AppUrlEnvironmentVariable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$filter":"_environmentvariabledefinitionid_value eq @{outputs('GetDefnId-AppUrlEnvironmentVariable')}"},"authentication":"@parameters('$authentication')"}},"PPEnvironment__-__if_no_Current,_set_to_null":{"actions":{"Set_AppUrl_-_Current_Value":{"runAfter":{},"type":"SetVariable","inputs":{"name":"PPEnvironment","value":"@first(body('ListCurrents-AppUrlEnvironmentVariable')?['value'])?['Value']"}}},"runAfter":{"ListCurrents-AppUrlEnvironmentVariable":["Succeeded"]},"else":{"actions":{"Set_AppUrl_-_null":{"runAfter":{},"type":"SetVariable","inputs":{"name":"PPEnvironment","value":"@{null}"}}}},"expression":{"greaterOrEquals":["@length(body('ListCurrents-AppUrlEnvironmentVariable')?['value'])",1]},"type":"If"}}}},"schemaVersion":"1.0.0.0"}